<div class="box navigation_bar" >
    <div class="navigation_bar_left_item" ng-click="navBar.leftBarItem.action()">
        <div class="box" style="height: 44px">
            <div><img class="navigation_bar_left_item_img" ng-src="img/back.png"></div>
            <div><span class="navigation_bar_left_item_title">{{navBar.leftBarItem.title}}</span></div>
        </div>
    </div>
    <div class="navigation_bar_middle_item">
        <span class="navigation_bar_middle_item_title">{{navBar.title}}</span>
    </div>
    <div class="navigation_bar_right_item">
        <span class="navigation_bar_right_item_title"></span>
    </div>
</div>